<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="og:image" content="https://images.evetech.net/alliances/99000102/logo?size=512">
        <meta name="og:type" content="website">
        <meta name="og:site_name" content="auth.yulaifederation.net">
        <meta name="og:title" content="Yulai Federation Authentication">
        <meta name="og:description" content="Authentication System to get access to Yulai Federation services, like Discord, Mumble, Forums and more.">

        {% include 'allianceauth/icons.html' %}

        <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>

        {% include 'bundles/bootstrap-css.html' %}
        {% include 'bundles/fontawesome.html' %}
        {% block extra_include %}
        {% endblock %}

        <link rel="stylesheet" href="{% static 'yf_templates/css/yulai-federation.min.css' %}" type="text/css">

        <style>
            {% block extra_style %}
            {% endblock %}
        </style>
    </head>

    <body>
        <div class="auth-login-box">
            {% block content %}
            {% endblock %}
        </div>

        <div class="yf-aa-svg-wrapper">
            {% include "../bundles/svg/ccp_sso.svg" %}
        </div>
    </body>
</html>
